body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    color: #000000;
}

h1 {
    font-weight: bold;
    color: #0a2e52;
}

h2 {
    font-weight: bold;
    color: #0a4d91;
}

h3 {
    font-weight: bold;
    color: #1a85f0;
}

p {
    font-size: 18px;
    color: #000000;
}

body {
    background-color: #ffffff;
}

a {
    color: #20e020;
}


img {
    height: 200px;
    width: auto;
}
